html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background-color: #6699CC;
    color: #2E2C2F;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 250px;
    margin: 0 auto;
}

input {
    color: #2E2C2F;
    background-color: #C3DBC5;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin: 10px 0;
}

button {
    color: #2E2C2F;
    background-color: #A8763E;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

button:hover {
    background-color: #895737;
    color:#C3DBC5;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #FAC8CD;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: #C3DBC5;
    cursor: pointer;
}